{% load i18n %} 
{% block extrastyle %}
<title> Logged out</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pace.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <script src="{{ STATIC_URL }}js/pace.js"></script> 
{% endblock %}
{% block content %}
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar navbar-custom navbar-default navbar-fixed-top">    
                <a class=" navbar-brand nounderline" href='/'>Kirt</a>
                </div>
            </div>
        </div>
    </div>

 
<div class="container">
    <div class="center">
        <h4> You're succesfully logged out! <a href="{% 'django.contrib.auth.views.login'%}"> Login again?</a> </h4>
    </div>
</div>
{% endblock %}


