{% load i18n %} 
{% block content %}
<html class="full" lang="en">
<title>Kirt</title>
{% block extrastyle %}
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
    <script src="{{ STATIC_URL }}js/pace.js"></script> 
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript">
$(document).ready(function(){ 
  document.getElementById('id_username').focus()
  $('form').find("input[type=textarea], input[type=password], textarea").each(function(ev)
  {
      if(!$(this).val()) { 
     $(this).attr("placeholder", "Password");
  }
  });
  $('form').find("input[type=textarea], input[type=text], textarea").each(function(ev)
  {
      if(!$(this).val()) { 
     $(this).attr("placeholder", "Username");
  }
  });
});
    </script>
{% endblock %}
<body>
<div class="circle" ></div>
<div class="transparent" >
    <div class="center-block-square">
    <a style="text-decoration:none" href="{% url 'src.views.index' %}"> <span class="pb-dark">K</span><span class="pb-light">irt</span></a>
    <form class="" method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"> 
       
        <!--<th>{{ form.username.label_tag }}</th>-->
        {{form.username}}
       
        <!--<th>{{ form.password.label_tag }}</th>-->
        {{form.password}}
        <div><a href=""></a></div>      
        <div class="login-button">
        <input type="submit" value="Login">
        </div>
    </form>

</div>
</div>
</body>
</html>
{% endblock %}
