{% extends "base.html" %} {% load i18n %} 
{% block content %}
<html class="full" lang="en">
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
{% endblock %}
<body>
<div class="circle " >
    <div class="center-block-square">
    <a style="text-decoration:none" href='/'> <span class="pb-dark">K</span><span class="pb-light">irt</span></a>
    
    
    <form class="" method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <table>
        <tr>
       
        <!--<th>{{ form.username.label_tag }}</th>-->
        <td>{{form.username}}</td>
        </tr>
        <tr>
        <!--<th>{{ form.password.label_tag }}</th>-->
        <td>{{form.password}}
        <div><a href=""></a></div>
        </td>
        </tr>
        </table>
        <div style="controls">
        <input class="hidden" type="submit" value="Login">
        </div>
    </form>

</div>
</div>
</body>
</html>
{% endblock %}

