.glyphicon-chevron-left{
right: 28%; 
text-decoration: none !important; 
position: relative;
font-size: 0.5em !important;
}

@media all and (max-width: 390px) {
    .glyphicon-chevron-left {
        right: 4%; 
    }
}
