.notifications {
  display:inline-flex;
  position:relative;
  margin:-29px auto;
  width:276px;
  height:32px;
  background-color:white;
  margin-left: 35%;
 
}

.notifications .messages {
  display:block;
  position:absolute;
  top:-12px;
  left:-90px;
  width:290px;
  max-height:40px;
}

.notifications .messages:before {
  content:'.';
  display:block;
  position:absolute;
  margin-left:-10px;
  left:50%;
  top:-18px;
  width:0;
  height:0;
  color:transparent;
  border:10px solid black;
  border-color:transparent transparent white;
}

.notifications .messages .message {
  display:block;
  position:relative;
  padding:0px;
  background-color:white;
  color:transparent;
  text-decoration:none;
}

.notifications .messages .message + .message {
  border-top:1px solid #e0e0e0;
}

form{
margin-top: 20px !important;
}


.error input, 
.error select {
border:0.05em red solid; 
}

ul.errorlist {display:none;}

.alert, .alert-danger
{
width : 89%;
margin: 0 auto;
margin-bottom:10%;
padding:5px;
}

.humane,
.humane-flatty {
  font-family: Helvetica Neue, Helvetica, san-serif;
  font-size: 20px;
  top: 8%;
  left: 35%;
  opacity: 0;
  width: 30%;
  color: red;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(-0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.humane-animate,
.humane-flatty.humane-flatty-animate {
  opacity: 0.8;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media screen and (max-width: 600px)
{

.humane,
.humane-flatty {
  top: 10%;
  left: 25%;
  width: 50%;
}

}
