.header{
height: 5%;
width: 70%;
background-color: #585858;
font-size: 20px;
font-family: Impact, Charcoal, sans-serif;	
}



.worker{
display: none;
}

.search{
float: right;
position: fixed;
height: 40px;
width: 30%;
bottom: 10px;
right: 10px;

}

.hiddensubmit{

}
