.search{
float: right;
position: fixed;
height: 40px;
width: 30%;
bottom: 10px;
right: 10px;
}

.pull-right {
  float: right !important;
}

@media all and (min-width: 300px) {
    .font {
        font-size: 1.3em;
    }
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

input{
	width: 130px;
	border: none;
	text-align: center;
}

.table{
	width: auto;
}

.nounderline{
	text-decoration: none !important;
}



/* Because navigation bar covered some portion of body when page opened */


/***********************************


.table-responsive tr td:first-child {
position: absolute;
background: white;
}
.table-responsive tr th:first-child {
position: absolute;
background: white;
}

*************************************/




