.search{
float: right;

height: 40px;
width: 30%;
bottom: 10px;
right: 10px;
}

.pull-right {
  float: right !important;
}

@media all and (min-width: 300px) {
    .font {
        font-size: 1.3em;
    }
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

input{
	width: 130px;
	border: none;
	text-align: center;
}

.table{
	width: auto;
}

.nounderline{
	text-decoration: none !important;
}

/* Hide the arrows in HTML5 input field type 
number and show it as only text fields 
Ref: http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */

/* For firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* For other browsers */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Jeck to hide arrows in firefox:
.select {
    width: 100px;
    overflow: hidden;
}
.select select {
    text-indent: 10px;
    text-overflow:'';
    width: 120px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

} */

/* Because navigation bar covered some portion of body when page opened */


/***********************************


.table-responsive tr td:first-child {
position: absolute;
background: white;
}
.table-responsive tr th:first-child {
position: absolute;
background: white;
}

*************************************/

@import url(http://fonts.googleapis.com/css?family=Lato);

* {
  margin:0;
  padding:0;
}

html {
  font:12pt Lato, sans-serif;
  min-height:100%;
  /*background-image:linear-gradient(45deg,#3498db,#2ecc71);*/
}

/************************
Apply notifications Div
************************/

.notifications {
  display:inline-flex;
  position:relative;
  margin:-29px auto;
  width:325px;
  height:32px;
  background-color:white;
  margin-left: 35%;
 
}

.notifications .messages {
  display:block;
  position:absolute;
  top:-12px;
  left:120px;
  width:130px;
  max-height:40px;
}

.notifications .messages:before {
  content:'.';
  display:block;
  position:absolute;
  margin-left:-10px;
  left:50%;
  top:-18px;
  width:0;
  height:0;
  color:transparent;
  border:10px solid black;
  border-color:transparent transparent white;
}

.notifications .messages .message {
  display:block;
  position:relative;
  padding:10px;
  background-color:white;
  color:transparent;
  text-decoration:none;
}

.notifications .messages .message + .message {
  border-top:1px solid #e0e0e0;
}

/* Change color of disabled field */
input[type="number"]:disabled{
background-color:white;
}


