.full {
background: url(/static/images/kirt2.JPG) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow:hidden;
}

.pb-dark{
color: #f2ca27;
font-size:5em;
}

.pb-light{
color: #ecf0f1;
font-size:5em;
}

body {
margin-top: 50px;
margin-bottom: 50px;
background: none;
}

.circle{
height: 300px;
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 8%;
margin-bottom: 12%;
border-radius: 50%; 
background-color: black;
opacity: 0.7;

}

.center-block-square {
  display: table-cell;
  border-radius: 100px; 
  margin-left: 33px;
text-align: center;
position: absolute;
margin-top: 49px;	
}



