.pb-dark{
	color: #0f84b0;
}

.pb-light{
	color: #06b9fb;
}

body {
margin-top: 50px;
margin-bottom: 50px;
background: none;
}

.full {
background: url(/static/images/kirt.JPG) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.center-block {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 	300px;
  margin-bottom: 200px;

}



