.full {
background: url(/static/images/kirt2.JPG) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow:hidden;
}

.pb-dark{
color: #f2ca27;
font-size:5em;
}

.pb-light{
color: #ecf0f1;
font-size:5em;
}

body {
margin-top: 50px;
margin-bottom: 50px;
background: none;
}

.circle{
height: 300px;
width: 300px;
left: 50%;
top: 50%;
margin-left: -150px;
margin-top: -150px;
border-radius: 50%; 
background-color: rgba(0, 0, 0, 1);
opacity: 0.9;
position: absolute;
}

/* A division actually made 
to keep center block opaque 
because it was to be placed 
inside another div equal to 
circle*/
.transparent{
height: 300px;
width: 300px;
display: block;
left: 50%;
top: 50%;
margin-left: -150px;
margin-top: -150px;
border-radius: 50%; 
background-color: transparent;
position: absolute;
}

.center-block-square {
border-radius: 100px; 	
text-align: center;
position: relative;
padding: 18%;
	
}

input{
width: 170px;
border: none;
text-align: center;
padding: 3px;
border-radius:3px;
background-color: rgba(234, 228, 228, 1);
margin: 1px;	
}

input[type='submit']{
background-color: rgba(231, 201, 78, 1);
}

input[type='submit']:hover{
background-color: #f2ca27;
}


