.table{
	width: 70%;
        margin: auto;	
}

.table th, .table td { 
     border-top: none; 
 }

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
/*border-top: none;*/s
padding:6px;}

/* Centered worker name header */
.center {
    text-align: center;
    
    text-size: 2.2em;
}

@media all and (min-width: 300px) {
    .font {
        font-size: 1.3em;
    }
}

/* Notification Division */

.notifications {
  display:inline-flex;
  position:relative;
  margin:-29px auto;
  width:325px;
  height:32px;
  background-color:white;
  margin-left: 35%;
 
}

.notifications .messages {
  display:block;
  position:absolute;
  top:-12px;
  left:120px;
  width:130px;
  max-height:40px;
}

.notifications .messages:before {
  content:'.';
  display:block;
  position:absolute;
  margin-left:-10px;
  left:50%;
  top:-18px;
  width:0;
  height:0;
  color:transparent;
  border:10px solid black;
  border-color:transparent transparent white;
}

.notifications .messages .message {
  display:block;
  position:relative;
  padding:10px;
  background-color:white;
  color:transparent;
  text-decoration:none;
}

.notifications .messages .message + .message {
  border-top:1px solid #e0e0e0;
}

/* Delete button */

@media all and (min-width: 1000px) {

.pull-right  .btn{
        margin-right:170px;
    }
}

/* For the heading of page */
.center h1{
color: #428BCA;
}

#payslip{
  margin-right:0px;
}

.btn.disabled {
    pointer-events: auto;
}

.paid{
  width:25%; 
  text-align:right; 
  padding:0;
}

.btn-lg{
  padding:5px 10px;
}

h1 .small {
font-size:50%;
}

i { 
  right:20%;
}

@media all and (max-width:1200px)
{
i {
right:15%;
}

}

@media all and (max-width:1000px)
{
i {
right:10%;
}

}

@media all and (max-width:500px)
{
i {
right:5%;
}

}
