{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Daily attendance {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/particulars.css">
{% endblock %}

{% block content %}
<div class="container"> 
  <div class="inner" style="width:80%; display:block; margin-left: auto; margin-right: auto;">
    <div class="font"> 
      <div class="row">
        <div class="col-md-6"> <h3 style ="color:#428BCA"> Attendance: {{date}} </h3> Mark attendance and enter today's overtime hours</div>
      </div> <hr> 

      <div class="row"> 
       
         </div>
        {% for value in workerDetail_attendance %}  
        
          <form action="" method="">
          <div class="text-left"> 
            <div class="col-sm-6 col-md-4">{{value.worker_id_id}} {{value.worker_id.first_name}} {{value.worker_id.last_name}}</div>
            
            <div class="col-sm-6 col-md-4 col-lg-3">
              <input type="checkbox" id="attendance_{{value.worker_id_id}}" class="attendance" aria-label="..." {% if value.attendance == 1 %} checked {% endif %}>
            </div>

            <div class="clearfix visible-sm-block"></div>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <input type="number" id="overtime_{{value.worker_id_id}}" class="overtime" placeholder="Overtime" value="{{value.overtime}}">
            </div>
            <div class="clearfix visible-sm-block"></div>
            
            {# Just to add horizontal line for separation on medium and extra small screens #}
            <span class="visible-xs-block visible-sm-block"> <hr> </span> 
          </div>
         </form>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    var reverseurl = "{% url 'src.views.jsreverse' %}";

    function reverse(urlstring, callback) {
        if (typeof callback != "function") {
            return false;
            }
            
        $.get(reverseurl + "?string=" + urlstring, callback);
            }
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/daily_attendance.js">
</script>


{% endblock %}


