{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Error {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="center">
        <h4> {{message}} </h4> 
        <h4> <a href="{{url}}"> You can try again.</a> </h4>
    </div>
</div>
{% endblock %}
