{% extends "base.html" %}{% load staticfiles %}
{% block title %} Kirt {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/form.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
{% endblock %}

{% block header %}

 {% comment %}<nav class="navbar navbar-custom navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
<div class="pull-right">
      <ul class="nav navbar-nav">

        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> 
      </ul>
</div>
    </div>
  </div>
</nav>  
{% endcomment %}
{% endblock header %}

{% block content %}
<div class="container">
   {# <a href={% url'src.views.addworker'%}> <img src="/static/images/addworker.png"></a> #}
<div class="notifications">
  <div class="toggle"></div>
  <div class="messages">
    <p class="message">Incorrect value!</p>
   </div>
</div>
 

    <div class='font'>
    <div class="table-responsive">
    <table id="freeze" class="table table-hover table-condensed center-table"> {# http://stackoverflow.com/questions/11346112/can-i-lock-the-first-column-in-a-twitter-bootstrap-table #} 
        <thead class="header">
          <div class="row">
            <tr> 
                <th>  </th>
                <div class="col-xs-8">
                <th> Name </th></div>
                <th class="text-center"> Days </th>
                <th class="text-center"> Overtime </th>
                <th class="text-center"> Paid </th>
                <th class="text-center"> Advance </th> 
            </tr>
          </div>
        </thead>
        <tbody >
            <form action="" method="">
                {% csrf_token %}
                {% for value in detail_list %}
                <select id="{{value.worker_id}}" class="hidden"> <option 
                value="{{value.worker_id}}"> {{value.first_name}}</option> </select> 
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'src.views.particulars' %}?worker_id={{value.worker_id}}&month={{month}}&year={{year}}"
                        class="nounderline">{{value.first_name}} {{value.last_name}}</a>
                    </td> 
                    <td>
                        <input type="number" id="days_{{value.worker_id}}" 
                        placeholder="Days" class="days" value="{{value.attendance}}" readonly="true" disabled>
                    </td>
                    <td>
                        <input type="number" id="overtime_{{value.worker_id}}" 
                        placeholder="Overtime" class="overtime" value="{{value.overtime}}" readonly="true" disabled> 
                    </td>
                    <td>
                      
  
                        <input type="number" id="paid_{{value.worker_id}}" 
                        placeholder="Paid Amount" class="paid" value="{{value.paid_salary}}" readonly="true" disabled  > 
                    </td>
                    <td>
                        <input type="number" id="advance_{{value.worker_id}}" 
                        placeholder="Advance" class="advance" value = "{{value.advance_amount}}"  readonly="true" disabled>
                    
                        {% if editable == 1 %} 
<a href="" class="nounderline" onclick="return popitup('{% url 'src.views.popupadvance' %}?worker_id={{value.worker_id}}&year={{year}}&month={{month}}')" > <span class="glyphicon glyphicon-th-list"></span> </a>
{#<a class="contact" href="#" data-form="/popupadvance/?worker_id={{value.worker_id}}&year={{year}}&month={{month}}" title="Edit"> edit</a> #}


{# <div class="hidden" id="errors">ama</div> #}
<div class="modal hide" id="contactModal">
</div>

                        
                       
                    </td>   
                        {% endif %}
                    </tr>
                {% endfor %}
            </form>  
        </tbody> 
    </table> 
    </div>   
    </div>
<div id="dialog-form"></div>  
 <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
              
    <span class="custom-dropdown">
    <div class="searchform" >
       {# <div class="select"> #}
        <form method="POST" action="" class="font">
            {% csrf_token %}
            {{search}} 
           <input class="btn btn-info" type="submit" value="Search" action="">
        </form>  {# </div> #}
   </div> </span>
</div>
</div>
</div>

{% endblock %}
{% block extrajs %}
   
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/autosave.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/form.js"></script> 
    
    <script language="javascript" type="text/javascript">
//On clicking advance, for popup
//$(function(){
//$('.js-popup-link').click(function(e){
// e.preventDefault();
//  $("#popup").dialog({modal: true}).dialog('open').load(this.href);
// })
//})
var opt = {
resizable: false, 
autoOpen: false,
closeOnEscape: true,
width: 500, 
height: 300,
modal: true
}

function popitup(url) {
$.ajax({
  url: url,
  success: function(data) {
$("#dialog-form").dialog(opt).html(data).dialog('open');
$('body').on('click','.ui-widget-overlay',function(){ $('#dialog-form').dialog('close'); });
$("#dialog-form").keyup(function(e) {
if( e.keyCode === 13 ) {
  $("#dialog-form").dialog('close');
}
})
    }
  });
$('#dialog-form').bind('dialogclose', function() {
    var split = url.split("="); //URL has a pattern, splitted it from =.
    //alert(url);
    var idyear = split[1]; //After splitting from =, there is a pattern which is splitted from &
    //alert(idyear);
    var yearmonth = split[2]; 
    //alert(yearmonth);
    var month = split[3];
    //alert(month);
    var worker_id = idyear.split("&")[0];
    //alert(worker_id);
    var year = yearmonth.split("&")[0];
    //alert(year);
    reverse('src.views.return_advance', function(url) {
    var request_url = url + "?worker_id=" + worker_id + "&month=" + month + "&year=" + year;
    $.ajax({
      url: request_url,
      success: function(data) { 
      $('#advance_'+ worker_id).attr("value", data);   
      }
    });
});
  });
  return false;
}
//function popitup(url) {
//newwindow=window.open(url,'Add Advance','height=400, width=450');
// if (window.focus) {newwindow.focus()}
// return false;
// }
</script>
<script type="text/javascript">
    var reverseurl = "{% url 'src.views.jsreverse' %}";

    function reverse(urlstring, callback) {
        if (typeof callback != "function") {
            return false;
            }
            
        $.get(reverseurl + "?string=" + urlstring, callback);
            }
</script>
<script>
$(document).ready(function(){
if ({{editable}} == '0')
$(".table :input").attr('disabled', true);

else
$(".table :input").attr('disabled', false);
})
</script>
{% endblock %}
