{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Particulars {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/chardinjs/startchardin.js"></script>
{% endblock %}
{% block content %}
      <div class="container">
      <div class=section>
	<div class="row">
		    <div class="col-sm-6 col-md-6">
			<a href="{% url 'src.views.daily_attendance' %}" >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text data-intro="Click here to mark attendance daily" data-position="left">Daily Attendance</span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
		    <div class="col-sm-6 col-md-6">
			<a href="{% url 'src.views.ajaxdetails' %}" >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text data-intro="The salary records can be viewed and updated from here" data-position="right">Salary Sheet </span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
	</div>
	<div class="row">
		    <div class="col-sm-6 col-md-6">
			<a href="{% url 'src.views.addadvance' %}" >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text data-intro="Advances paid to workers is stored here" data-position="left">Add Advance</span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
		    <div class="col-sm-6 col-md-6">
			<a href="{% url 'src.views.promotions' %}">
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text data-intro="If daily wage is changed aka worker is promoted, that data goes here" data-position="right">Promotions</span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
      </div>    
      </div>  
    
      {% endblock %}
{% block extrajs %}
    <script src="{{ STATIC_URL }}js/chardinjs/chardinjs.min.js"></script>
{% endblock %}
