{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Particulars {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    
{% endblock %}
{% block content %}
      <div class="container">
      <div class=section>
	<div class="row">
		    <div class="col-sm-6 col-md-6">
			<a href="{% url 'src.views.daily_attendance' %}" >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text>Daily Attendance</span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
		    <div class="col-sm-6 col-md-6">
			<a href="{% url 'src.views.ajaxdetails' %}" >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text>Salary Sheet </span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
	</div>
	<div class="row">
		    <div class="col-sm-6 col-md-6">
			<a href="#" >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text>Add Advance</span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
		    <div class="col-sm-6 col-md-6">
			<a href=# >
			    <div class="tile">
				 
				    <div class=line_seprator></div>
				    <span class=tile__text>Promotions</span>
		   	    </div>
			</a>
		    </div>
	<div class="clearfix visible-xs-block"></div>
      </div>    
      </div>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 

{% endblock %}
