<html></head>
  
  <body> 
  <head>
    <meta charset="utf-8">
    <title>Particulars</title>
  </head>
  
  <body> 
<table> <tr><th>{{worker_id}}</th></tr>
<tr><td>Worker Id</td>  <td>{{worker_id}}</td></tr>
<tr><td>basic_wage</td>  <td>{{basic_wage}}</td></tr>
<tr><td>attended_days</td>  <td>{{attended_days}}</td></tr>
<tr><td>days_in_month</td>  <td>{{days_in_month}}</td></tr>
<tr><td>monthly_basic_wage</td>  <td>{{monthly_basic_wage}}</td></tr>
<tr><td>overtime_hours</td>  <td>{{overtime_hours}}</td></tr>
<tr><td>overtime_wage</td>  <td>{{overtime_wage}}</td></tr>
<tr><td>last_month_advance</td>  <td>{{last_month_advance}}</td></tr>
<tr><td>this_month_advance</td>  <td>{{this_month_advance}}</td></tr>
<tr><td>monthly_wage</td>  <td>{{monthly_wage}}</td></tr>
<tr><td>provident_fund</td>  <td>{{provident_fund}}</td></tr>
<tr><td>amount_to_be_paid</td>  <td>{{amount_to_be_paid}}</td></tr>
<tr><td>paid_amount</td>  <td>{{paid_amount}}</td></tr>
<tr><td>further_advance</td>  <td>{{further_advance}}</td></tr>
</table>
  </body>
</html>

