{% load staticfiles %}
{% block title %}  {% endblock %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
 {% block content %}
<div class="center">
<div id="dialog-form" title="Add advance">
    <form id="form" method="POST" action=''>
      {% csrf_token %}
      {{full_name}} 
      <br /> <br />
      {% for a in old_advances %}
        {{a.advance_amount}} 
        {# {{a.advance_date}}#}<br />
      {% endfor %}
      <input type="integer" id="popupadvance_{{worker_id}}" placeholder="Advance ++" class="popupadvance" > 
    </form>
 </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/popup_addadvance.js"></script> 
{% endblock %}


