{% load staticfiles %}
{% block title %} Add advance {% endblock %}
 {% block content %}
<div id="dialog-form" title="Add advance">
    <form id="form" method="POST" action=''>
      {% csrf_token %}
      {{worker_id}} <br />
      {% for a in old_advances %}
        {{a.advance_amount}} {{a.advance_date}}<br />
      {% endfor %}
      <input type="integer" id="popupadvance_{{worker_id}}" placeholder="Advance ++" class="popupadvance" > 
    </form>
 </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/popup_addadvance.js"></script> 
{% endblock %}


