{% load staticfiles %}
{% block title %}  {% endblock %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
 {% block content %}

<div id="dialog-form" title="Previous promotions">
<div class="container">
   <div class="font">
     <div class="row">
       <div class="col-md-4"> <h4 style ="color:#428BCA"> {{full_name}} <br>Joined: {{joining_date}}  </h4> </div>
       </div> <hr> 
       <div class="row"> </div>
         {% for a in previous_promotions %}
         <div class="text-left"> 
           <div class="col-xs-2 ">{{a.promoted_wage}} </div>
           <div class="col-xs-2 ">{{a.on_date}} </div>
      
         <br />
      {% endfor %}
     
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/popup_addadvance.js"></script> 
{% endblock %}


