{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Promotions {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/navbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/particulars.css">

{% endblock %}

{% block content %}
<div class="container"> 
<div class="inner" style="width:80%; display:block; margin-left: auto; margin-right: auto;">
<div class="font"> 
  <div class="row">
  <div class="col-md-6"> <h3 style ="color:#428BCA"> Promotions: {{date}} </h3> Change the input field to update a record</div>
  </div> 

<hr> 

  <div class="row"> </div> 
  {% for value in worker_details %}
    <form action="" method="">
      <div class="text-left"> 
        <div class="col-sm-6 col-md-4 col-lg-5">{{value.id}} {{value.first_name}} {{value.last_name}}</div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <input type="number" id="promotion_{{value.id}}" class="promotion" value = {{value.basic_wage}}>
        </div>
        <div class="clearfix visible-sm-block"></div>

        <div class="col-sm-6 col-md-4 col-lg-2">
           <a data-toggle="modal" id="old_{{value.id}}" class="btn btn-info btn-xs ">Previous</a>
        </div>   
        <div class="clearfix visible-sm-block"></div>

        {# Just to add horizontal line for separation on medium and extra small screens #}
        <span class="visible-xs-block visible-sm-block"> <hr> </span>
      </div>           
    </form>
<div id="dialog-form"></div>
 {% endfor %}
 </div>
</div>
</div>
</div>
{% endblock %}
{% block extrajs %}
   <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/promotions.js"></script>



<script type="text/javascript">
    var reverseurl = "{% url 'src.views.jsreverse' %}";

    function reverse(urlstring, callback) {
        if (typeof callback != "function") {
            return false;
            }
            
        $.get(reverseurl + "?string=" + urlstring, callback);
            }
</script>

{% endblock %}
